<div ng-app="app">
  <div ng-controller="peopleCtrl">
    {{ 1 + 1 }}
    
    <div ng-repeat="person in people track by $index">
      <h2 ng-click="toggleBioVisible(person)">{{ person.name }}</h2>
      <div ng-class="{strike: person.bioVisible}">
        <p>{{ person.bio }}</p>
        <p ng-click="deletePerson($index)">Delete Person</p>
      </div>
    </div>

    <div class="form">
      <h4>Name: <input type="text" ng-model="newName"></h4>
      <h4>Bio: <input type="text" ng-model="newBio"></h4>
      <button ng-click="addPerson(newName, newBio)">Add Person</button>
    </div>

    <h3>Count: {{ people.length }}</h3>
  </div> <!-- end of ng-controller -->
</div> <!-- end of ng-app -->




